mixin k2-items()
    +b.k2-items
        +e.normal
            +e.k2-item
                +k2-item("1.jpg", "Ерш вяленый крупный", "800", "0")
            +e.k2-item
                +k2-item("2.jpg", "Ерш вяленый крупный (жирный)", "830", "1")
            +e.k2-item
                +k2-item("3.jpg", "Ерш вяленый средний", "750", "2")
            +e.k2-item
                +k2-item("4.jpg", "Ерш вяленый средний (жирный)", "800", "3")

        +e.mobile.carousel.slide#k2-itemsCarousel
            +e(role="listbox").k2-items-inner.carousel-inner
                +e.k2-item-mobile.item.active
                    +k2-item("1.jpg", "Ерш вяленый крупный", "800", "0", "-m")._mobile
                +e.k2-item-mobile.item
                    +k2-item("2.jpg", "Ерш вяленый крупный (жирный)", "830", "1", "-m")._mobile
                +e.k2-item-mobile.item
                    +k2-item("3.jpg", "Ерш вяленый средний", "750", "2", "-m")._mobile
                +e.k2-item-mobile.item
                    +k2-item("4.jpg", "Ерш вяленый средний (жирный)", "800", "3", "-m")._mobile
            +e.A.control-mobile.carousel-control.left(href='#k2-itemsCarousel', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            // Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next"
            +e.A.control-mobile.carousel-control.right(href='#k2-itemsCarousel', data-slide='next')
              span.glyphicon.glyphicon-chevron-right

