.nav.affix{
    position: fixed !important;
    top: 0;
    z-index: 10;
    background: #fff;
    background: rgba(255, 255, 255,0.98);

    @include box-shadow(0px 0px 15px 0px rgba(0,0,0,0.34))
}
.nav{
    @media #{$lg}, #{$md}, #{$sm} {
        position: absolute;
    }
    
    width: 100%;
    border: none;
    background: transparent;
    @include border-radius( 0 );

    &__collapse{
        border-top: 0;
    }

    &__serch{
        float: right;
        @media #{$sm}{
            width: 130px;
        }
        @media #{$xsm}{            
            float: left;
            margin-left: 15px;
        }
    }

    &__menu{


        @media #{$lg}{
            width: calc(100% - 260px);
        }

        @media #{$md}{
            width: calc(100% - 160px);
        }

        
        @media #{$sm}{
            width: calc(100% - 140px);
        }

        
        
    }
}