mixin navigation(alias)
    +b.NAV.nav.navbar.navbar-default( data-smart-affix="true")
        .container
            +e.header.navbar-header.navbar-right
                button.navbar-toggle.collapsed.pull-right(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                +e.serch
                  +search
                
            // navbar-header
            +e.collapse#navbar-collapse.collapse.navbar-collapse
              +e.menu
                +menu(alias).navbar-nav.navbar-left
            // navbar-collapse