mixin features()
  +b.features
    +item
      +e.P.number 120
      +e.P.text Закупщиков по товарным направлениям
    +item
      +e.P.number 70
      +e.P.text Крупнейших закупщиков России
    +item
      +e.P.number 2000
      +e.P.text Подписанных контрактов за&nbsp2&nbspгода
    +item
      +e.P.number 13
      +e.P.text Стран-участниц проекта
  