@mixin menu() {
    .no-flexbox .menu-ul{
        display: table-cell; // ie9
        width: 80%;
        & > li {
            margin-right: 30px;
        }
        
    }

    .menu-ul{
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        
        min-height: 46px;
        padding: 5px 0 5px 0;

    //li
    &__li{
        padding: 8px 15px 8px 15px;
        background: #ed1212;
        // border-bottom: 1px solid transparent;
        border-right: 1px solid white;
        color: #fff;
        &:hover, &_active{
            background: red;
            // border-bottom: 1px solid #444;
        }



        &_li-dd:hover a{
            @media #{$xsm}{
                background: red;
            }
        }

        &_li-dd:hover{
            background: #ed1212;
        }

        &_li-dd{
            background: red;
            border: none !important;
            @media #{$xsm}{
                border: 0 none !important;
                text-align: center;
                @include box-shadow(0 none);
                padding: 8px 15px 8px 15px;
                width: 100%;
            }
        }
    }
    //-li

    //a
    &__a{
        padding: 0 !important;
        font-size: 18px;
        text-decoration: none !important;
        color: #fff !important;
        // text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);

        &_active{
            // text-decoration: underline;
        }

        &:hover{
            // color: #555 !important;
        }

        &_a-dd{
            background-color: transparent !important;
            white-space: normal !important;
            font-size: 14px;
        }
    }
    //-a

    @media #{$xsm}{
        display: block;
        height: auto;
        margin: 0;

    }
    @media #{$lg}, #{$md}, #{$sm}{
        margin-left: -15px;
    }

    //dd
    &__li:hover &__ul-dd{
        display: block;
    }

    &__ul-dd{
        background: red;
        @include border-radius( 0px );
        border: 1px white solid;
        border-top: 0px !important;
        width: 250px;
        margin-left: -1px;

        @media #{$xsm}{
            width: 100%;
            display: block;
            position: static;
            border: 0 none;
            padding: 8px 15px 8px 15px;
            background: #ed1212;
            @include box-shadow(none);
            float: none;
        }
    }
    //-dd


}

}