.scroll {
  width: 31px;
  height: 51px;
  margin: 0 auto;
  
  & img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .scroll {
    display: none;
  }
}

@mixin scroll() {
	@-webkit-keyframes bounce { 
		0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
		40% {-webkit-transform: translateY(-30px);} 
		60% {-webkit-transform: translateY(-15px);} 
	} 

	@keyframes bounce { 
		0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
		40% {transform: translateY(-10px);} 
		60% {transform: translateY(-2px);} 
	}


	.scroll{
		
		-webkit-animation-name: bounce; 
		animation-name: bounce;

		-webkit-animation-duration: 1s;
		animation-duration: 1s; 
		-webkit-animation-fill-mode: both; 
		animation-fill-mode: both;

	-webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-iteration-count: infinite;    
}
}