mixin advantages()
  +b.advantages
    +e.item.wp
      | Важнейщее событие года для закупщиков и поставщиков строй материалов
    +e.item.wp
      | Переговоры проходят на высочайщем уровне с первыми лицами компаний
    +e.item.wp
      | Предварительная запись по товарным направлениям
    +e.item.wp
      | Самая высокая статистика успешно проведенных переговоров
    +e.item.wp
      | Участие в переговорах гарантирует увеличения обьемов поставок продукции ежегодно