- var src = "images/logo.png"

mixin promo()
  +b.SECTION.promo
    +e.logo
    +e.P.text
      | Переговоры поставщиков и закупщиков
      | на самом высоком уровне.
    +e.A(href="#form").btn Принять участие
    +scroll