$xsm: "(max-width: 768px)";
$sm: "(min-width: 768px) and (max-width: 992px)";
$md: "(min-width: 992px) and (max-width: 1200px)";
$lg: "(min-width: 1200px)";

$base-font-size: 16px;
$font-os: "Open Sans", Arial, Helvetica, sans-serif;

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  color: #ffffff;
  font-family: Arial;
  font-size: 22px;
  font-weight: 400;

  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  text-decoration: none;

  transition: background-image 300ms ease, color 300ms ease, border-color 150ms ease;

  &:hover {
    text-decoration: none;
    color: #000;
    border-color: darkgrey;
    background-color: #fff;
  }
  
  &:focus {
    text-decoration: none;
    color: #000;
  }
}


@mixin scroll() {
	@-webkit-keyframes bounce { 
		0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
		40% {-webkit-transform: translateY(-30px);} 
		60% {-webkit-transform: translateY(-15px);} 
	} 

	@keyframes bounce { 
		0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
		40% {transform: translateY(-10px);} 
		60% {transform: translateY(-2px);} 
	}


	.scroll{
      -webkit-animation-name: bounce; 
      animation-name: bounce;

      -webkit-animation-duration: 1s;
      animation-duration: 1s; 
      -webkit-animation-fill-mode: both; 
      animation-fill-mode: both;

      -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
      animation-iteration-count: infinite;    
  }
}
