// build:js js/vendor.js 
script(src='libs/jquery.min.js')
script(src='libs/bootstrap.min.js')
script(src='libs/jquery-migrate-3.0.0.min.js')
script(src='libs/jquery.mousewheel-3.0.6.pack.js')
script(src='libs/owl.carousel.min.js')
script(src='libs/fancybox/jquery.fancybox.pack.js')
// endbuild
// build:js js/main.js
script(src='js/main.js')
// endbuild