include template/header
include template/footer
include ../blocks/**/*
- var alias = "m"
doctype
html(lang='ru')
    +doc-header
    body.pageload.no-js
      +main-header
      +promo
      +about
      +triggers
      +vip
      +partners
      +forms
      +footer
      +doc-footer
      script.
        window.onload = function(){
        if(window.innerWidth >= 768)
        document.getElementById('video-container').innerHTML = '<video autoplay muted id="bgvid"><source src="images/1.mp4" type="video/mp4"></video>'
        };

        
      