doctype
html(lang='ru')
    include template/header
    body
     .container
        .row
            .col-md-3
                include template/sidebar
            .col-md-9
                 div
                  | mainPage
     include template/footer