.footer {
  width: 100%;
  min-width: 360px;
  min-height: 325px;
  
  background-color: #000;
  
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.footer__block {
  box-sizing: border-box;
  width: 50%;
  padding: 40px 0 0;
  float: left;
}

.footer__contacts {
  padding-left: 52px;
  margin-bottom: 120px;
  
  font-family: $font-os;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  
  & > * {
    float: left;
    padding-left: 20px;
    margin-bottom: 10px;
    
    background-size: 15px 17px;
    background-position: top 2px left;
    background-repeat: no-repeat;
    
    transition: color 300ms ease;
    
    &:hover {
      color: #7c7b7b;
    }
  }
}

.footer__tel {
  margin-right: 30px;
  
  background-image: url("../images/phone-call.svg");
}

.footer__mail {
  margin-right: 30px;
  
  background-image: url("../images/mail.svg");
}

.footer__web {
  margin-right: 0;
  
  background-image: url("../images/web.svg");
}

.footer__logo {
  display: block;
  width: 165px;
  height: 70px;
  margin-left: 210px;
  margin-bottom: 30px;
  
  transition: transform 300ms ease;
  
  & img {
    max-width: 100%;
    height: auto;
  }
  
  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .footer__block {
    width: 100%;
    min-height: 625px;
    float: none;
  }
  
  .footer__contacts {
    width: auto;
    padding-left: 22%;
    padding-right: 50px;
    margin-bottom: 100px;
    
    & > * {  
      float: none;
      margin-bottom: 10px;
      font-size: 42px;
      padding-left: 55px;
      margin-right: 0;
      
      background-position: top 10px left;
      background-size: 45px 50px;
    }  
  }
  
  .footer__logo {
    width: 344px;
    height: 146px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .footer {
    min-height: 220px;
  }
  
  .footer__contacts {
    padding: 0 15px;
    
    & > * {
      font-size: 30px;
      padding-left: 45px;
      margin-bottom: 20px;
      
      background-position: top 8px left;
      background-size: 35px 30px;
    }
  }
    
  .footer__logo {
    width: 300px;
    height: 127px;
    margin: 0 auto;
  }
}