mixin footer()
  +b.FOOTER.footer
    +map
    +e.block
      +e.contacts#contacts
        +e.tel +7 (812) 339-33-13
        +e.mail info@eg-forum.ru
        +e.web eg-forum.ru
      +e.logo(href="http://eg-forum.ru/")
        img(src="images/footer-logo.png")