.partners {
  width: 100%;
  min-width: 768px;
  min-height: 440px;
  
  background-color: #000;
  
  font-family: $font-os;
}

.partners__inner {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 70px 0 0;
}

.partners__title {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1005px;
  margin: 0 auto 30px;
  
  text-align: center;
  color: #fcfcfc;
  font-size: 24px;
  font-weight: 400;
  
  &::before,
  &::after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    
  }
  
  &::before {
    margin-left: -100%;
    left: -40px;
    background-image: linear-gradient(to left, #858585 0%, rgba(140, 139, 120, 0) 38%);
  }
  
  &::after {
    margin-right: -100%;
    right: -40px;
    background-image: linear-gradient(to right, #858585 0%, rgba(140, 139, 120, 0) 38%);
  }
}