.about {
  box-sizing: border-box;
  width: 100%;
  min-width: 767px;
  min-height: 360px;
  
  padding: 56px 0 70px;
  background-color: #fff;
  
  font-family: $font-os;
}

.about__title {
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 35px;
  
  text-align: center;
  color: #010101;
  font-size: 24px;
  font-weight: bold;
}

.about__text {
  width: 730px;
  margin: 0 auto;
  margin-bottom: 25px;
  
  color: #000000;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.about__highlight {
  font-family: Arial, serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@media (max-width: 767px) {
  .about {
    min-height: 900px;
  }
  
  .about__title {
    width: 100%;
    padding: 0 65px;
    margin-bottom: 45px;
    
    font-size: 48px;
  }
  
  .about__text {
    width: 100%;
    padding: 0 65px;
    margin-bottom: 37px;
    
    font-size: 36px;
  }
}