mixin about()
  +b.SECTION.about#about
    +e.H2.title О проекте
    +e.P.text
      +e.SPAN.highlight 
        | На высоте
      |  – это ведущая, специализированная, деловая площадка для всей строительной индустрии! 
      | Это инструмент, для наилучшего и более качественного взаимодействия поставщиков и закупщиков строительных материалов!
    +e.P.text
      +e.SPAN.highlight 
        | На высоте
      |  – это передовой формат освоения новых рынков сбыта для самых жизнеспособных
      | и инновационных товаров со всего мира!