.map {
  width: 50%;
  height: 325px;
  float: left;
  
  background-image: url("../images/map-bg.jpg");
  background-size: cover;
}

@media (max-width: 768px) {
  .map {
    width: 100%;
    height: auto;
    padding-top: 62%;
    float: none;
    
    background-image: url("../images/map-bg_sm.jpg");
  }
}