mixin map()
  +b.map
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad3111ebc8ca063c832df49db66e8bcdde667a82d73ee47aae12dd043b8d47be4&amp;width=100%25&amp;height=365&amp;lang=ru_RU&amp;scroll=false"></script>