.slider {
  position: relative;
  width: 1170px;
  padding: 0 15px;
  height: 257px;
}

.slider__slides {
  width: 1006px;
  height: 257px;
  margin: 0 auto;
  
  font-size: 0;
}

.slider__slide {
  width: 500px;
  height: 257px;
  
  background-image: url("../images/brand-icon1.jpg");
  background-size: contain;
  
  &:nth-child(2) {
     background-image: url("../images/brand-icon2.jpg");
  }
  
  &:nth-child(3) {
     background-image: url("../images/brand-icon3.jpg");
  }
  
  &:nth-child(4) {
     background-image: url("../images/brand-icon4.jpg");
  }
  
  &:nth-child(5) {
     background-image: url("../images/brand-icon5.jpg");
  }
  
   &:nth-child(6) {
     background-image: url("../images/brand-icon6.jpg");
  }
}

// Стили для Слика

.slick-prev,
.slick-next {
  width: 67px;
  height: 100%;
  
  background-size: 32px 40px;
  background-repeat: no-repeat;
  
  &::before {
    content: '';
  }
}

.slick-prev {
  left: -67px;
  background-image: url("../images/left-arrow.svg");
  background-position: center left;
}

.slick-next {
  right: -67px;
  background-image: url("../images/right-arrow.svg");
  background-position: center right;
}

@media (max-width: 1200px) {
  .slider {
    width: 767px;
    margin: 0 auto;
  }
  
  .slick-prev,
  .slick-next {
    width: 52px;
  }
  
  .slick-prev {
    left: -42px;
  }
  
  .slick-next {
    right: -42px;
  }
  
  .slider__slides {
    width: 664px;
  }
  
  .slider__slide {
    display: block;
    margin: 0 auto;
  }
}


