mixin adv-slider()
  +b.adv-slider
    +e.item
      +e.text
        | Важнейщее событие года для закупщиков и поставщиков строй материалов
    +e.item
      +e.text
        | Переговоры проходят на высочайщем уровне с первыми лицами компаний
    +e.item
      +e.text
        | Предварительная запись по товарным направлениям
    +e.item
      +e.text
        | Самая высокая статистика успешно проведенных переговоров